@import '~antd/dist/antd.css';
/* @import "./slytes/theme.less"; */
@primary-color: #1890ff;                          
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.sider-blur{
  -webkit-backdrop-filter: blur(10px);
}
.mb-10{
  margin-bottom: 10px;
}
media-grid{display:flex;flex-wrap:wrap;width:100%;padding:10px}
media-grid>.media-grid-item{padding:10px;flex:0 0 50%;width:50%;overflow:hidden}
@media only screen and (min-width:768px){media-grid>.media-grid-item{flex:0 0 33.33333333%;width:33.33333333%}}
@media only screen and (min-width:1200px){media-grid>.media-grid-item{flex:0 0 25%;width:25%}}
@media only screen and (min-width:1600px){media-grid>.media-grid-item{flex:0 0 20%;width:20%}}
media-grid>.media-grid-item>.img-container{width:100%;padding-top:100%;position:relative}
media-grid>.media-grid-item>.img-container>img{position:absolute;top:0;left:0;right:0;bottom:0} 